@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-0     { animation-delay: 0s; }
  .delay-300   { animation-delay: 0.3s; }
  .delay-500   { animation-delay: 0.5s; }
  .delay-1000  { animation-delay: 1s; }
  .delay-1500  { animation-delay: 1.5s; }
}

/* --- 
Design System :
1. Typography
2. Color
--- */

h1, h2, h3, h4, h5, h6 {
    @apply mb-2 text-gray-900;
}

h1, 
.page-title,
.banner-title {
    @apply font-bold text-[32px] leading-[40px];
}

h2,
.content-title {
    @apply font-bold text-xl leading-[28px];
}

.btn-primary {
    @apply bg-primary text-white px-5 py-2 rounded text-base;
    @apply hover:bg-primary-dark;
    &-outline {
        @apply bg-white text-primary border border-primary hover:bg-primary-dark hover:text-white;
    }
}

/* --- Start styling --- */
#homeBanner {
    .banner-title {
        @apply font-black text-2xl leading-[30px] md:text-[40px] md:leading-[50px] md:mb-4;
    }
    .btn-primary {
        @apply px-6 py-4;
    }
}

body {
    @apply text-sm text-gray-500;
}

body {
    @apply text-sm text-gray-500;
}

/* --- Header --- */
header {
    @apply min-h-16;
}
.header-logo {
    @apply font-bold text-gray-900 flex items-center;
}
.header-logo img {
    @apply md:h-[50px];
}

section {
  scroll-margin-top: 82px; /* tinggi header */
}

details[open] summary svg {
  transform: rotate(180deg);
}

/* --- Hero --- */
#homeBanner {
    @apply text-base md:min-h-[430px] relative;
}

.hero-title {
    @apply font-medium text-secondary leading-tight text-[24px] md:text-[56px];
}

/* --- Why Us --- */
#secSocialWhyUs {
    @apply min-h-screen max-h-[768px] py-16;
}

/* --- Utilities --- */
.section-spacing {
    @apply py-6 pb-12 md:py-10 md:pb-20;
}

.link-primary {
    @apply font-semibold underline underline-offset-8;
    @apply text-primary hover:text-primary-dark;
}

/* --- Content --- */
section .section-title {
    @apply text-gray-900;
}

.page-title.highlight {
    @apply mb-3 lg:mb-[20px];
}

/* --- Footer --- */
footer {
    @apply font-inter bg-gray-100 text-gray-900 text-[10px] md:text-base;
}
footer a {
    @apply hover:text-primary;
}