@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-0     { animation-delay: 0s; }
  .delay-300   { animation-delay: 0.3s; }
  .delay-500   { animation-delay: 0.5s; }
  .delay-1000  { animation-delay: 1s; }
  .delay-1500  { animation-delay: 1.5s; }
}

body {
    @apply text-sm text-gray-500;
}

/* --- Header --- */
header {
    @apply min-h-16;
}
.header-logo {
    @apply font-bold text-gray-900 flex items-center;
}
.header-logo img {
    @apply md:h-[50px];
}

section {
  scroll-margin-top: 82px; /* tinggi header */
}

details[open] summary svg {
  transform: rotate(180deg);
}

/* --- Hero --- */
#heroBanner {
    @apply text-base md:min-h-[430px] relative;
}

.hero-title {
    @apply font-caslon font-medium text-secondary leading-tight text-[24px] md:text-[56px];
}

/* --- Why Us --- */
#secSocialWhyUs {
    @apply min-h-screen max-h-[768px] py-16;
}

/* --- Utilities --- */
.section-spacing {
    @apply py-6 pb-12 md:py-10 md:pb-20;
}
/* style global btn-primary */
.btn-primary {
    @apply inline-flex rounded-lg font-inter text-sm font-bold;
    @apply bg-primary border-2 border-primary transition-none text-white;
    @apply hover:opacity-100 hover:bg-primary-dark hover:border-primary-dark;
    /* padding default */
    @apply px-4 py-2 md:px-6 md:py-3;
}
/* override jika btn-primary ada di dalam hero */
.hero .btn-primary {
    @apply px-6 py-3 md:px-[36px] md:py-6;
}

.link-primary {
    @apply font-semibold underline underline-offset-8;
    @apply text-primary hover:text-primary-dark;
}

/* --- Content --- */
.page-title {
    @apply text-gray-900 font-caslon font-semibold leading-tight mb-6 lg:mb-10;
    @apply text-[24px] leading-[34px] md:text-[28px] md:leading-[40px] lg:text-[36px] lg:leading-[48px] xl:text-5xl xl:leading-[60px];
}

.page-title.highlight {
    @apply mb-3 lg:mb-[20px];
}

/* --- Footer --- */
footer {
    @apply font-inter bg-gray-900 text-gray-100 text-[10px] md:text-base lg:text-lg xl:text-xl py-2 px-0 md:py-3 xl:py-5 xl:px-6;
}
.footer-wrapper {
    @apply flex justify-center items-center gap-4 md:gap-8 lg:gap-12 xl:gap-32;
}
footer a {
    @apply hover:text-primary-dark;
}